body {
    font-family: "Tw Cen MT";
    background-color: #191a4a!important;
    background-size: cover;
    color: white!important;
}

.container {
    text-align: center;
}

.nounderline {
    text-decoration: none;
    color: white!important;
}
